.hero-section {
  background-image: url(/ella-olsson-C1Q3qOTlegg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.fit-data {
  width: fit-content;
}
.hero-container {
  z-index: 2;
  position: relative;
}

.cate-box {
  padding: 8px 12px;
  border-radius: 50%;
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-carte-name {
  border-radius: 10px;
}
