<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group 10 Recipes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/fce603bd4c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="p-3">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="/" class="nav-link px-2 text-secondary">Home</a>
            </li>
            <li>
              <a href="recipes" class="nav-link px-2 text-dark">Recipes</a>
            </li>
            <li>
              <a href="about" class="nav-link px-2 text-dark">About</a>
            </li>
          </ul>

          <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input
            type="search"
            class="form-control form-control-dark text-bg-dark"
            placeholder="Search..."
            aria-label="Search"
          />
        </form> -->
          <div class="text-end">
            <a href="/login" class="btn me-2">Login</a>
            <a href="/signup" class="btn btn-extra">Sign-up</a>
          </div>
        </div>
      </div>
    </header>

    <div class="text-center hero-section">
      <div class="hero-container px-4 py-5">
        <div class="overlay"></div>
        <h1 class="display-5 fw-bold text-body-emphasis">
          <span class="text-light">DISCOVER,</span>
          <span class="fw-bold" style="color: #ffc857"
            >CREATE AND SHARE RECIPES EFFORTLESSLY!</span
          >
        </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 fw-normal text-light">
            Create meal plans, explore community recipes, turn a photo into a
            recipe. No cooking guesswork, just culinary inspiration
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
        </div>
      </div>
    </div>

    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">Why You'll Love Cooking With Us</h2>
      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
          <h2 class="fw-bold text-body-emphasis">
            Everything you need to discover, save, and cook delicious meals.
          </h2>
          <p class="text-body-secondary">
            Explore thousands of easy-to-follow recipes, discover new flavors,
            and keep your favourite dishes organized in one place. Whether
            you're a beginner or an experienced home cook, we've got recipes
            you'll love.
          </p>
          <a href="recipes" class="btn btn-extra btn-lg">Browse Recipes</a>
        </div>
        <div class="col">
          <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="col d-flex flex-column gap-2">
              <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center fs-4 rounded-3 align-self-start px-3 py-2"
              >
                <i class="bi bi-book-fill"></i>
              </div>
              <h4 class="fw-semibold mb-0 text-body-emphasis">
                Easy-to-Follow Recipes
              </h4>
              <p class="text-body-secondary">
                Clear ingredients, simple instructions, and step-by-step
                guidance make every recipe easy to prepare.
              </p>
            </div>
            <div class="col d-flex flex-column gap-2">
              <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3 align-self-start px-3 py-2"
              >
                <i class="bi bi-heart"></i>
              </div>
              <h4 class="fw-semibold mb-0 text-body-emphasis">
                Save Your Favorites
              </h4>
              <p class="text-body-secondary">
                Create your personal recipe collection and access your favourite
                meals anytime.
              </p>
            </div>
            <div class="col d-flex flex-column gap-2">
              <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3 align-self-start px-3 py-2"
              >
                <i class="bi bi-search"></i>
              </div>
              <h4 class="fw-semibold mb-0 text-body-emphasis">
                Search by ingredients
              </h4>
              <p class="text-body-secondary">
                Already have ingredients at home? Find recipes you can cook
                without another trip to the store.
              </p>
            </div>
            <div class="col d-flex flex-column gap-2">
              <div
                class="feature-icon-small align-self-start d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3 px-3 py-2"
              >
                <i class="bi bi-stars"></i>
              </div>

              <h4 class="fw-semibold mb-0 text-body-emphasis">
                Fresh Recipes Every Week
              </h4>
              <p class="text-body-secondary">
                Discover new breakfast, lunch, dinner, and dessert ideas with
                regular updated recipes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="album py-5">
      <div class="container">
        <div class="pb-2 border-bottom d-flex justify-content-between">
          <h2>FEATURED RECIPES</h2>
        </div>

        <div class="recipe-carousel js-recipe-carousel">
          <div class="col-md-4">
            <div class="card shadow-sm">
              <img
                class="bd-placeholder-img card-img-top"
                src="{{ url_for('static', filename='/recipe-img/christopher-alvarenga-rQX9eVpSFz8-unsplash.jpg') }}"
                alt="Thumbnail"
                height="225"
                width="100%"
                style="object-fit: cover"
              />

              <div class="card-body">
                <div class="card-carte mb-2 d-flex justify-content-between">
                  <div class="card-carte-name border border-1 px-2 fit-data">
                    <small>Launch</small>
                  </div>

                  <div class="card-ratings">
                    <i
                      class="fa-solid fa-star"
                      style="color: rgb(255, 212, 59)"
                    ></i>
                    <span>4.8</span>
                    <span>(271)</span>
                  </div>
                </div>

                <div>
                  <h4 class="card-title fs-5">
                    Superfood Ashwagandha & Seed Bar
                  </h4>
                  <p class="card-text text-truncate-2">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <small class="text-body-secondary">7-11-26</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img
                class="bd-placeholder-img card-img-top"
                src="{{ url_for('static', filename='/recipe-img/femoree-kn_ANxnwCQ0-unsplash.jpg') }} "
                alt="Thumbnail"
                height="225"
                width="100%"
                style="object-fit: cover"
              />

              <div class="card-body">
                <div class="card-carte mb-2 d-flex justify-content-between">
                  <div class="card-carte-name border border-1 px-2 fit-data">
                    <small>Launch</small>
                  </div>

                  <div class="card-ratings">
                    <i
                      class="fa-solid fa-star"
                      style="color: rgb(255, 212, 59)"
                    ></i>
                    <span>4.8</span>
                    <span>(271)</span>
                  </div>
                </div>

                <div>
                  <h4 class="card-title fs-5">
                    Superfood Ashwagandha & Seed Bar
                  </h4>
                  <p class="card-text text-truncate-2">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <small class="text-body-secondary">7-11-26</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img
                class="bd-placeholder-img card-img-top"
                src="{{ url_for('static', filename='/recipe-img/kalyani-akella-vCNLO20cuwY-unsplash.jpg') }}"
                alt="Thumbnail"
                height="225"
                width="100%"
                style="object-fit: cover"
              />

              <div class="card-body">
                <div class="card-carte mb-2 d-flex justify-content-between">
                  <div class="card-carte-name border border-1 px-2 fit-data">
                    <small>Launch</small>
                  </div>

                  <div class="card-ratings">
                    <i
                      class="fa-solid fa-star"
                      style="color: rgb(255, 212, 59)"
                    ></i>
                    <span>4.8</span>
                    <span>(271)</span>
                  </div>
                </div>

                <div>
                  <h4 class="card-title fs-5">
                    Superfood Ashwagandha & Seed Bar
                  </h4>
                  <p class="card-text text-truncate-2">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <small class="text-body-secondary">7-11-26</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img
                class="bd-placeholder-img card-img-top"
                src="{{ url_for('static', filename='/recipe-img/keesha-s-kitchen-_y325luZNUs-unsplash.jpg') }}"
                alt="Thumbnail"
                height="225"
                width="100%"
                style="object-fit: cover"
              />

              <div class="card-body">
                <div class="card-carte mb-2 d-flex justify-content-between">
                  <div class="card-carte-name border border-1 px-2 fit-data">
                    <small>Launch</small>
                  </div>

                  <div class="card-ratings">
                    <i
                      class="fa-solid fa-star"
                      style="color: rgb(255, 212, 59)"
                    ></i>
                    <span>4.8</span>
                    <span>(271)</span>
                  </div>
                </div>

                <div>
                  <h4 class="card-title fs-5">
                    Superfood Ashwagandha & Seed Bar
                  </h4>
                  <p class="card-text text-truncate-2">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <small class="text-body-secondary">7-11-26</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img
                class="bd-placeholder-img card-img-top"
                src="{{ url_for('static', filename='/recipe-img/keesha-s-kitchen-PqG32DYCTM8-unsplash.jpg') }}"
                alt="Thumbnail"
                height="225"
                width="100%"
                style="object-fit: cover"
              />

              <div class="card-body">
                <div class="card-carte mb-2 d-flex justify-content-between">
                  <div class="card-carte-name border border-1 px-2 fit-data">
                    <small>Launch</small>
                  </div>

                  <div class="card-ratings">
                    <i
                      class="fa-solid fa-star"
                      style="color: rgb(255, 212, 59)"
                    ></i>
                    <span>4.8</span>
                    <span>(271)</span>
                  </div>
                </div>

                <div>
                  <h4 class="card-title fs-5">
                    Superfood Ashwagandha & Seed Bar
                  </h4>
                  <p class="card-text text-truncate-2">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <small class="text-body-secondary">7-11-26</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img
                class="bd-placeholder-img card-img-top"
                src="{{ url_for('static', filename='/recipe-img/keesha-s-kitchen-Yn065HfaXnE-unsplash.jpg') }}"
                alt="Thumbnail"
                height="225"
                width="100%"
                style="object-fit: cover"
              />

              <div class="card-body">
                <div class="card-carte mb-2 d-flex justify-content-between">
                  <div class="card-carte-name border border-1 px-2 fit-data">
                    <small>Launch</small>
                  </div>

                  <div class="card-ratings">
                    <i
                      class="fa-solid fa-star"
                      style="color: rgb(255, 212, 59)"
                    ></i>
                    <span>4.8</span>
                    <span>(271)</span>
                  </div>
                </div>

                <div>
                  <h4 class="card-title fs-5">
                    Superfood Ashwagandha & Seed Bar
                  </h4>
                  <p class="card-text text-truncate-2">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <small class="text-body-secondary">7-11-26</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-body-secondary">
          © Group 10, Computer Studies 121
        </p>
        <a
          href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
          aria-label="Bootstrap"
        >
          <svg class="bi me-2" width="40" height="32" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <!-- experimental js file pulling from database -->
    <!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->
  </body>
</html>
