{% extends "base.html" %} {% block title %}Group 10 Recipes{% endblock %} {%
block extra_style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %} {% block content %}
<div class="text-center hero-section">
  <div class="hero-container px-4 py-5">
    <div class="overlay"></div>
    <h1 class="display-5 fw-bold text-body-emphasis">
      <span class="text-light">DISCOVER,</span>
      <span class="fw-bold" style="color: #ffc857"
        >CREATE AND SHARE RECIPES EFFORTLESSLY!</span
      >
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 fw-normal text-light">
        Create meal plans, explore community recipes, turn a photo into a
        recipe. No cooking guesswork, just culinary inspiration
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
  </div>
</div>

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Why You'll Love Cooking With Us</h2>
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">
        Everything you need to discover, save, and cook delicious meals.
      </h2>
      <p class="text-body-secondary">
        Explore thousands of easy-to-follow recipes, discover new flavors, and
        keep your favourite dishes organized in one place. Whether you're a
        beginner or an experienced home cook, we've got recipes you'll love.
      </p>
      <a href="/recipes" class="btn btn-extra btn-lg">Browse Recipes</a>
    </div>
    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center fs-4 rounded-3 align-self-start px-3 py-2"
          >
            <i class="bi bi-book-fill"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">
            Easy-to-Follow Recipes
          </h4>
          <p class="text-body-secondary">
            Clear ingredients, simple instructions, and step-by-step guidance
            make every recipe easy to prepare.
          </p>
        </div>
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3 align-self-start px-3 py-2"
          >
            <i class="bi bi-heart"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">
            Save Your Favorites
          </h4>
          <p class="text-body-secondary">
            Create your personal recipe collection and access your favourite
            meals anytime.
          </p>
        </div>
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3 align-self-start px-3 py-2"
          >
            <i class="bi bi-search"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">
            Search by ingredients
          </h4>
          <p class="text-body-secondary">
            Already have ingredients at home? Find recipes you can cook without
            another trip to the store.
          </p>
        </div>
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small align-self-start d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3 px-3 py-2"
          >
            <i class="bi bi-stars"></i>
          </div>

          <h4 class="fw-semibold mb-0 text-body-emphasis">
            Fresh Recipes Every Week
          </h4>
          <p class="text-body-secondary">
            Discover new breakfast, lunch, dinner, and dessert ideas with
            regular updated recipes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="album py-5">
  <div class="container">
    <div class="pb-2 border-bottom d-flex justify-content-between">
      <h2>FEATURED RECIPES</h2>
    </div>

    <div class="recipe-carousel js-recipe-carousel"></div>
  </div>
</div>
{% endblock %}

<!-- experimental data fetching from database -->

<!-- {% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %} -->
