{% extends "base.html" %} {% block title %}Sign Up - Group 10 Recipes{% endblock
%} {% block content %}
<div class="auth-page d-flex align-items-center justify-content-center">
  <div class="auth-card">
    <h2 class="mb-4 text-center">Sign Up to Become a Contributor</h2>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST" action="/signup" class="js-sign-up">
      <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="FirstName"
          name="first_name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="LastName"
          name="last_name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="signupEmail" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="signupEmail"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="signupPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="signupPassword"
          name="password"
          required
        />
      </div>
      <input
        style="display: none"
        type="color"
        name="color"
        class="js-color-picker"
        value
      />
      <button type="submit" class="btn btn-extra w-100">Sign Up</button>
    </form>

    <p class="text-center mt-3 mb-0">
      Already have an account? <a href="/login">Login</a>
    </p>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
